.idea
.git
reference.iml
.vscode
**/target
**.iml
languages/go/bin/**
languages/go/pkg/**
languages/go/src/**

# Language Specific 

## Python 

__pycache__/

# Tool Specific

## Vim 

*.swp

## Advent of code inputs - not meant to commit them
**/aoc_puzzle_input*
