<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ben.myapplication" >
    <!--
    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main home activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Children of home activity -->
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ben.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".SlidingTabsActivity"
            android:label="@string/title_activity_sliding_tabs"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ben.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".UserInterface.GridLayoutExampleActivity"
            android:label="@string/title_activity_grid_layout"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ben.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".UserInterface.RelativeLayoutExampleActivity"
            android:label="@string/title_activity_relative_layout"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ben.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".SavingData.SavingDataMenuActivity"
            android:label="@string/title_activity_saving_data_menu"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ben.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".SavingData.SavingKeyValueSetsActivity"
            android:label="@string/title_activity_saving_key_value_sets"
            android:parentActivityName=".SavingData.SavingDataMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SavingData.SavingDataMenuActivity" />
        </activity>
        <activity
            android:name=".SavingData.SavingFilesActivity"
            android:label="@string/title_activity_saving_files"
            android:parentActivityName=".SavingData.SavingDataMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SavingData.SavingDataMenuActivity" />
        </activity>
        <activity
            android:name=".SavingData.SavingSqlDatabaseActivity"
            android:label="@string/title_activity_saving_sql_database"
            android:parentActivityName=".SavingData.SavingDataMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SavingData.SavingDataMenuActivity" />
        </activity>
        <activity
            android:name=".SavingData.DisplayContactActivity"
            android:label="@string/title_activity_display_contact" >
        </activity>
        <activity
            android:name=".UserInterface.UserInterfaceMenuActivity"
            android:label="@string/title_activity_user_interface_menu"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ben.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".Graphics.GraphicsMenuActivity"
            android:label="@string/title_activity_graphics_menu"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ben.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".Graphics.GLESExampleActivity"
            android:label="@string/title_activity_open_glesexample"
            android:parentActivityName=".Graphics.GraphicsMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ben.myapplication.Graphics.GraphicsMenuActivity" />
        </activity>
        <activity
            android:name=".Graphics.LibGDXExampleActivity"
            android:label="@string/title_activity_lib_gdxexample"
            android:parentActivityName=".Graphics.GraphicsMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ben.myapplication.Graphics.GraphicsMenuActivity" />
        </activity>
    </application>

</manifest>
